/* Основний Колір #2E2F42; */
/* Колір кнопки та Веб #4D5AE5 */

:root {
    --central-color: #2E2F42;
    --button-color: #4D5AE5;
    --white-color-text: #FFFFFF;
}

body {
    color: #434455;
    background-color: var(--white-color-text);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* first page */
/* header */
/* Logo */
.logo {
    color: var(--button-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo:hover,
.logo:focus {
    color: var(--button-color);
}

.span-one {
    color: var(--central-color);
}

.site-nav .transition{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}

.site-nav .transition:hover,
.site-nav .transition:focus {
    color: #404bbf;
}

.addres {
    font-style: normal;
}

.auth-nav .info-contact {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.auth-nav .info-contact:hover,
.auth-nav .info-contact:focus {
    color: #404bbf;
}
/* first section */
.section-first {
    background-color: #2e2f42;
}

.hero-text {
    color: var(--white-color-text);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button {
    color: var(--white-color-text);
    background-color: #4D5AE5;
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* second section */
.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--central-color);
}

.p-color {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* third section */

.section-tit {
    color: var(--central-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

/* section four */

.section-four {
    background-color: #F4F4FD;
}

.list-img {
    background-color: var(--white-color-text);
}

/* footer */

.footer-back {
    background-color: var(--central-color);
}

.footer-back .logo-down {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-back .span-two {
    color: #f4f4fd;
}

.footer-back .p-footer {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* second page */

/* header */
/* main */

.section-button .second {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-color);
    background-color: #F4F4FD;
}

.section-button .second:hover,
.section-button .second:focus {
    color: var(--white-color-text);
    background-color: #404BBF;
}
